/* Error message appearance */

.ling-gloss-error {
    margin: 0.5em;
    color: #FF4040;
    font-style: italic;
}

.ling-gloss-error::before {
    content: "❌ ";
    font-style: normal;
}

/* Gloss element layout */

.ling-gloss {
    margin-inline-start: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.ling-gloss > div:not(:last-child) {
    margin-bottom: 0.5em;
}

.ling-gloss-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
}

/* Gloss element appearance */

.ling-gloss-preamble {
    font-weight: bold;
}

.ling-gloss-translation {
    font-style: italic;
}

.ling-gloss-translation::before {
    content: "“";
}

.ling-gloss-translation::after {
    content: "”";
}

.ling-gloss-level-a {
    font-style: italic;
}

/* Language-specific style overrides */

.ling-gloss-level-a.ling-style-cjk {
    font-style: unset !important;
}

/* Font scale style overrides */

.ling-style-f80 {
    font-size: 0.8em !important;
}

.ling-style-f90 {
    font-size: 0.9em !important;
}

.ling-style-f100 {
    font-size: 1.0em !important;
}

.ling-style-f110 {
    font-size: 1.1em !important;
}

.ling-style-f120 {
    font-size: 1.2em !important;
}

.ling-style-f130 {
    font-size: 1.3em !important;
}

.ling-style-f140 {
    font-size: 1.4em !important;
}

/* Writing direction style overrides */

.ling-style-rtl {
    direction: rtl !important;
}

.ling-style-ltr {
    direction: ltr !important;
}